# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

name: Build and deploy Python project to Azure Function App - extraperformance-api

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  PYTHON_VERSION: "3.10"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Install dependencies into the folder Azure Functions expects for Python packages
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"

      # Zip the entire repo INCLUDING hidden folders (e.g., .python_packages)
      - name: Zip artifact for deployment
        run: |
          zip -r release.zip . \
            -x "venv/*" ".venv/*" ".git/*" "__pycache__/*" "*.pytest_cache/*" "*.vscode/*"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: functionapp
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: functionapp

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_AB46945A392E43A8A14C5CB1160A23E4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CE30EB0547694DB6BA4E9E694F9773EF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E2C7BA2A11354A98A9858CC827673BAC }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: "extraperformance-api"
          slot-name: "Production"
          package: release.zip
